* {
  box-sizing: border-box;
}

.pen-input {
  height: 500px;
  width: 33%
}

.pen-box {
  width: 100%;
  height: 400px;
}

#results-frame {
  display: none;
  border: 1px solid black;
  height: 500px;
  width: 100%;
}

#results-box {
  border: 1px solid black;
  height: 500px;
  width: 100%;
}

.input-holder {
  display: flex;
  justify-content: space-between;
}

.mixer {
  color: red;
}